.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  border-color: green;
  border-width: 5px;
  text-align: center;
  text-transform: uppercase;
  line-height:25px;
  position: absolute;
  top: 15px;
  border-style: solid;
}
.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  border-color: red;
  border-width: 5px;
  text-align: center;
  left: 250px;
  top: 15px;
  position: absolute;
  text-transform: uppercase;
  line-height: 60px;
  border-style: solid;
}
.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  border-color: yellow;
  border-width: 5px;
  text-align: center;
  left: 500px;
  top: 15px;
  position: absolute;
  text-transform: uppercase;
  line-height: 60px;
  border-style: solid;
}

* {
  color: blue
}
